{{> admin-tab-switch route='categories'}}
<div class="pt-3 pb-3 my-3">
  {{#if category}}
    <form class="row" action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
      <div class="col-auto">
        <input class="form-control" type="text" placeholder="name" name="name" value="{{category.name}}">
      </div>
      <div class="col-auto">
        <button class="btn btn-warning" type="submit">Update</button>
        <a class="btn btn-link link-secondary" href="/admin/categories">or Create New</a>
      </div>
    </form>
  {{else}}
    <form class="row" action="/admin/categories" method="post">
      <div class="col-auto">
        <input class="form-control" type="text" placeholder="Category Name" name="name">
      </div>
      <div class="col-auto">
        <button class="btn btn-success" type="submit">
          Create
        </button>
      </div>
    </form>
  {{/if}}
</div>
<table class="table align-middle">
  <thead class="table-warning thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button class="btn btn-light text-primary" type="button">
            <a href="/admin/categories/{{this.id}}">Edit</a>
          </button>
        </td>
        <td>
          <form action="/admin/categories/{{this.id}}?_method=delete" method="post">
            <button class="btn btn-light text-danger" type="submit" onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>