<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{item.name}}</h1>
    <p class= "badge bg-secondary">{{item.Category.name}}</p>
  </div>
  <div class="col-md-4">
    <img src="{{item.image}}">
    <p><strong>Price: </strong>NT$ {{item.price}}</p>
  </div>
  <div class="col-md-8">
    <p>{{item.description}}</p>
  </div>
</div>
<hr>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>