<div class="row mt-3">
  {{#each items}}
    <div class="col-md-3 mb-3">
      <div class="card mb-1 shadow-sm">
        <a href="/items/{{this.id}}">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="card-img-cap" width="286px" height="180px">
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">
          <a href="/items/:id">
            {{this.name}}
          </a>
          <span class="badge bg-secondary">{{this.Category.name}}</span>
          <p class="card-text text-truncate">{{this.description}}</p>
        </p>
      </div>
    </div>
  {{/each}}
</div>