<div class="row mb-5">
  <div class="col-md-12">
    <h1>{{item.name}}</h1>
    <p class= "badge bg-secondary">{{item.Category.name}}</p>
  </div>
  <div class="col-md-4">
    <img src="{{item.image}}">
    <p><strong>Price: </strong>NT$ {{item.price}}</p>
  </div>
  <div class="col-md-8">
    <p>{{item.description}}</p>
    <hr>
    {{#if isFavorited}}
    <form action="/favorite/{{item.id}}?_method=delete" method="post" style="display: contents;">
      <button style="border: none; background: none; color: red;" type="submit">&hearts;</button>
    </form>
    {{else}}
    <form action="/favorite/{{item.id}}" method="post" style="display: contents;">
      <button style="border: none; background: none;" type="submit">&hearts;</button>
    </form>
    {{/if}}
    <a class="btn btn-outline-info" href="/items/{{item.id}}/dashboard">Dashboard</a>
  </div>
</div>
{{!-- comment --}}
<h3>所有評論: </h3>
<hr>
{{#each item.Comments}}
  {{#if ../user.isAdmin}}
    <form action="/comments/{{this.id}}?_method=delete" method="post">
      <button class="btn btn-outline-danger float-end" type="submit" onclick="return confirm(`確定要刪除 {{ this.User.name }}的評論嗎？`)">Delete</button>
    </form>
  {{/if}}
  <blockquote class="blockquote mb-0">
    <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
    <p>{{this.text}}</p>
    <footer class="blockquote-footer">{{relativeTimeFromNow this.createdAt}}</footer>
  </blockquote>
  <hr>
{{/each}}
{{!--give comment --}}
<form action="/comments" method="post">
  <div class="form-row mb-3">
    <label class="form-label" for="text">留下評論:</label>
    <textarea class="form-control" name="text" id="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="itemId" value="{{item.id}}">
  <button class="btn btn-primary" type="submit">Submit</button>  
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>