<div class="row">
  <div class="col-md-4">
    <img src="{{someone.image}}" alt="image" style="max-width: 300px;">
  </div>
  <div class="col-md-8">
    <p>Name: {{someone.name}}<p>
    <p>Email: {{someone.email}}</p>
    <p>Birthday: {{someone.birthday}}</p>
    {{#ifCond someone.id user.id}}
      <a href="/users/{{user.id}}/edit" class="btn btn-outline-info">Edit</a>
    {{/ifCond}}
  </div>
</div>